:root {
   --bg: #F5F5F5;
   --white: white;

   --lighter-cyan: #A5ECF5;
   --dark-cyan: #0EB9CD;
   --cyan: #00D1EA;
   --light-cyan: #60E7F8;
   
   --lighter-green: #AAF5BB;
   --dark-green: #2CDE55;
   --green: #56F97B;
   --light-green: #89F3A1;
   
   --lighter-red: #F499A9;
   --dark-red: #C92946;
   --red: #F94D6C;
   --light-red: #F56C85;
   
   --lighter-orange: #F5BF8E;
   --dark-orange: #D27017;
   --orange: #F98C2A;
   --light-orange: #F6A65D;
   
   --dark-purple: #D336C6;
   --purple: #F868EC;
   --light-purple: #F59FEE;
   --lighter-purple: #F4CCF1;
   
   --lightest-grey: #F6F6F6;
   --dark-grey: #D2D2D9;
   --grey: #E8E9EF;
   --light-grey: #EFF0F2;
   
   --dark-black: #000000;
   --black: #0D0D0E;
   --light-dark: #222227;
   --lighter-dark: #5C5C62;

}