.socials_main {
    height: 20vh;
    margin-top: 10vh;
}

.socials__icons {
    max-width: 20rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.socials__icons .icon{
   width: 1.8rem; 
   height: 1.8rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
}