// ====================== IN VARIABLES
$f-size-h1: calc(35px + (85 - 35) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-h2: calc(30px + (75 - 30) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-h3: calc(26px + (58 - 26) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-h4: calc(24px + (45 - 24) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-h5: calc(22px + (32 - 22) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-h6: calc(20px + (27 - 20) * ((100vw - 300px) / (1900 - 700))) !important;


$f-size-p1: calc(17px + (24.4 - 17) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-p2: calc(16px + (22.4 - 16) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-p3: calc(15px + (20.4 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
$f-size-p4: calc(14px + (18.4 - 14) * ((100vw - 300px) / (1900 - 700))) !important;




.f-size-p1 {
    font-size: $f-size-p1;
    line-height: 143.7%;
}

.f-size-p2 {
    font-size: $f-size-p2;
    line-height: 157.7%;
}

.f-size-p3 {
    font-size: $f-size-p3;
    line-height: 143.7%;
}

.f-size-p4 {
    font-size: $f-size-p4;
    line-height: 158.7%;
}



/// =============================== HEADING

.f-size-h1 {
    font-size: $f-size-h1;
    line-height: 94.5%;
}

.f-size-h2 {
    font-size: $f-size-h2;
    line-height: 94.5%;
}

.f-size-h3 {
    font-size: $f-size-h3;
    line-height: 110.5%;
}

.f-size-h4 {
    font-size: $f-size-h4;
    line-height: 135.5%;
}


.f-size-h5 {
    font-size: $f-size-h5;
    line-height: 120.5%;
}

.f-size-h6 {
    font-size: $f-size-h6;
    line-height: 120.5%;
}