// ====================== IN VARIABLES
$f-weight-black: 900;
$f-weight-bold: 700;
$f-weight-regular: 600;
$f-weight-medium: 500;
$f-weight-light: 400;
$f-weight-lighter: 300;


.f-weight-bl{
    font-weight: $f-weight-black;
}

.f-weight-bo{
    font-weight: $f-weight-bold;
}

.f-weight-r{
    font-weight: $f-weight-regular;
}

.f-weight-m{
    font-weight: $f-weight-medium;
}

.f-weight-l{
    font-weight: $f-weight-light;
}


.f-weight-ler{
    font-weight: $f-weight-lighter;
}