.uptake_main {
    margin-top: 30vw;

    .container {
        margin-left: 8vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 5vw;

        .content {
            justify-self: center;


            h1 {
                line-height: 120%;
                margin-top: calc(6vw + 1.2rem);
                margin-bottom: 3.5vw;
            }

            .description {
                margin-bottom: 5vw;
                padding-bottom: 5vw;
                border-bottom: 2px solid rgba(128, 128, 128, 0.165);
            }

            .features_container {
                max-width: 36rem;
                width: 100%;

                @media screen and (max-width: $medium) {
                    margin-top: 7.5vw;
                }


                .feature {
                    display: grid;
                    grid-template-columns: 10% 90%;
                    align-items: center;
                    margin-bottom: 3.5vw;

                    @media screen and (max-width: $medium) {
                        margin-bottom: 8.5vw;
                    }

                    p {
                        margin-left: 2rem;
                    }

                    .icon {
                        width: 3rem;
                        height: 3rem;

                        background: {
                            size: contain;
                            repeat: no-repeat;
                            position: center;
                        };

                        @media screen and (max-width: $medium) {
                            width: 2.3rem;
                            height: 2.3rem;
                        }
        
                    }
                }

                .feature:nth-child(1) {
                    .icon {
                        background-image: url('/images/uptake/icons/one.png');
                    }
                }

                .feature:nth-child(2) {
                    .icon {
                        background-image: url('/images/uptake/icons/three.png');
                    }
                }

                .feature:nth-child(3) {
                    .icon {
                        background-image: url('/images/uptake/icons/two.png');
                    }
                }

                .feature:nth-child(4) {
                    .icon {
                        background-image: url('/images/uptake/icons/four.png');
                    }
                }
            }
        }

        .image {
            height: 100%;
            width: 50vw;
            border-radius: 999px 999px 0 0;


            background: {
                image: url('/images/uptake/uptake.png');
                color: white;
                position: center;
                size: cover;
                repeat: no-repeat;
            }

            ;
        }
    }
}



@media screen and (max-width: $medium) {
    .uptake_main {

        .container {
            display: flex !important;
            flex-direction: column-reverse;
            margin-left: 0 !important;

            .image {
                margin-bottom: 10vw;
                width: 100vw !important;
                border-radius: initial !important;
                height: 70vw !important;
            }

            h1 {
                margin-bottom: 8.5vw !important;
            }

            .description {
                padding-bottom: 8vw !important;
            }


            .content {
                margin: 0 auto;
                width: 86%;

            }
        }
    }
}