.uptake_main {
    margin-top: 30vw;

    .container {
        margin-left: 8vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 9vw;

        .content {
            justify-self: center;


            * {
                margin-bottom: 5vw;
            }


            h1{
                margin-top: calc(6vw + 1.2rem);
            }

            .description {
                margin-bottom: 5vw;
                padding-bottom: 5vw;
                border-bottom: 2px solid rgba(128, 128, 128, 0.165);
            }
        }

        .image {
            height: 90%;
            width: 50vw;
            border-radius: 999px 999px 0 0;


            background: {
                image: url('/images/uptake/uptake.png');
                color: white;
                position: center;
                size: cover;
                repeat: no-repeat;
            }

            ;


        }
    }
}



@media screen and (max-width: $medium) {
    .uptake_main {

        .container {
            display: flex !important;
            flex-direction: column-reverse;
            margin-left: 0 !important;

            .image {
                margin-bottom: 10vw;
                width: 100vw !important;
                border-radius: initial !important;
                height: 70vw !important;
            }


            .content {
                margin: 0 auto;
                width: 86%;



                .description {}
            }
        }
    }
}